@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;300;400;600;700&display=swap');

body,
html {
  margin: 0;
  font-family: "Source Serif Pro";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-primary)
}

* {
  font-family: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --color-primary: rgba(143, 0, 17, 1);
  --color-primary-50: rgba(143, 0, 17, 0.5);
  --color-secondary: rgba(255, 211, 213, 1);
  --color-secondary-50: rgb(255, 211, 213, 0.5);
  --color-tertiary: rgba(0, 0, 0, 1);
  --color-tertiary-50: rgba(0, 0, 0, 0.5);
}
